
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.cat-panel-1:before {font-family: 'Material Icons';
content:"\ea3e"}
.cat-panel-2:before {font-family: 'Material Icons';
content:"\e666"}
.cat-panel-3:before {font-family: 'Material Icons';
content:"\f233"}
.cat-panel-4:before {font-family: 'Material Icons';
content:"\e864"}
.cat-panel-5:before {font-family: 'Material Icons';
content:"\e80c"}
.cat-panel-6:before {font-family: 'Material Icons';
content:"\ef76"}

.portal-header {
    color: #000;
    height: 350px;
    padding: 30px 15px;
    position: relative;
    text-align: center;}

.portal-header .logo {
    margin-bottom: 0;
    margin-left:  20px;
    height: 75px;}

.portal-header::before {
  background-color: #fff;  }

.portal-header::after {
    z-index: -5;
    background: none;
    filter: none;}

.portal-header:after {
    z-index: -5;
    background: none;
    background-size: cover;
    opacity: 1;      }

body {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    line-height: 2.5;
    color: #000;
    background-color: #fff;      }

.portal-header h1 {
    color: #000;
    font-family: 'Libre Baskerville';
    padding: 30px 15px 0px;
    position: relative;}

.portal-search #search::placeholder {
  color: #777777;}

.portal-header .portal-search button.btn {
  background-color: #f5f5f5; /*green*/;
  color: #777;}

.portal-header .search-field {
    background-color: #f5f5f5; /* White */;
    color: #777;}

.portal-header::before {
  background-color: #fff;}

.portal-single-publication h3 {
   font-family: 'Libre Baskerville';}

.portal-single-publication .publication-icon {
    background-color: #fff;}


.portal-single-publication .publication-icon .fa {
    color: #777;
    font-size: 1.5em;}

.publication-contents h4 span {
    background-color: #777;  }

h5 {
  font-family: 'Libre Baskerville';  }

.category-more-toc .showmore, .more-toc .showmore .showless {
    display: inline;
    color: #777;}

.show-all-categories {
    text-align: center;
    margin: 0 auto;
    font-size: 0.9em;
    color: #777;}

.category-more-toc .showless, .more-toc .showless {
    display: none;
    color: #777;
  font-size: 16px;}

    .publication-contents a {
font-size: 16px;}

.site-sidebar {
    background-color: #fff;}

.nav-site-sidebar li a {
    color: #000;
    display: block;
}

.nav-site-sidebar .active>a {
    color: #000;}

.h1, h1 {
    font-size: 36px;
    font-family: 'Libre Baskerville';
    line-height: 1.25;}

.h2, h2 {
    font-size: 24px;
    font-family: 'Libre Baskerville';
    margin-top: 2em;
    line-height: .5;}

.search-field {
    -webkit-appearance: none;
    background-color: #f5f5f5;
    border: 0;
    color: #777777;
    padding: 12px 15px;
    height: auto;}

.toolbar {
    box-shadow: none;
}

.pager li>a, .pager li>span {
    color: #777;
    margin: 0;
    padding: 0;}

.pager li>a:hover, .pager li>span:hover {
    background-color: #fff;
    color: #000;}

.btn, .form-control, button, input[type=text] {
    border-radius: 8px;}

.search-field::placeholder {
  color: #777;}

.dropcap {
  float: left;
  line-height: 120%;
  width: .9em;
  font-size: 400%;}

.pager, .site-footer, main article {
    margin-left: 10%;}

li.searchresultitem {
    border-bottom: 1px solid #eee;
    padding: 30px;}

.search-result-url, .search-result-breadcrumbs {
    color: #777;}

h3.searchresulttitle {
font-family: 'Libre Baskerville';
  color: #777;}

p.searchresultsnippet {
  color: #777;}

 .note {
    text-align: left;
    font-size: 150%;
    font-style: italic;
    width: 50%;
    float: left;
    padding: 20px 18px 12px 0px;
    -moz-background-clip: padding;
    border-left-width: 0;
    line-height: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    margin-left: 0px !important;
    margin-right: 0px !important;}

  .notice {
     text-align: left;
     font-size: 150%;
     font-style: italic;
     width: 50%;
     float: right;
     padding: 0px 0px 12px 40px;
     -moz-background-clip: padding;
     border-left-width: 0;
     line-height: 1.4em;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: #fff;
     margin-left: 0px !important;
     margin-right: 0px !important;}

.note .blockquoteauthor {font-size: 15px;}
.notice:before {display: none;}
.note:before {display: none;}
.notice h3 {display: none;}
.note h3 {display: none;}

ul.searchresults .search-highlight {
    background-color: transparent;
    padding: 0px;
    font-weight: bold;
    font-style: italic;
    color: #ff0000;
}

.mediaobject.taxonomy-images-floatleft {float: left;
width: 190px;
margin: 0px 20px 5px 0px;}

.mediaobject.taxonomy-images-floatright {float: right;
width: 190px;
margin: 0px 0px 5px 20px;}

